{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'core/funciones.js' %}">
    <script src="{% static 'core/apis.js' %}"></script>
</head>

<body>
    {% include 'header.html' %}

    <div id="encabezado-galeria">
        <h1>Carrito de Compras</h1>
    </div>

    <section>
        <div id="banner2">
            <div class="menu-carrito">
                <div id="titulo-carro">
                    <img src="{% static 'core/carritorosa.png' %}" alt="carrito rosado">
                    <h1>Carrito de compras</h1>
                </div>
                {% if carrito|length > 0 %}
                <div id="tabla">
                    <table>
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Porciones</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in carrito %}
                            <tr>
                                <td><img class="product-image" src="{{ item.imagen }}" class="imagen-menu img-menu" alt="{{ item.nombre }}"></td>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.precio }}</td>
                                <td>{{ item.porciones }}</td>
                                <td>{{ item.cantidad }}</td>
                                <td>{{ item.total }}</td>
                                <td><a href="{% url 'delToCart' item.codigo %}" class="addCart">Eliminar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h2>Tu carrito está vacío!</h2>
                
                {% endif %}
            </div>
            {% if carrito|length > 0 %}
            <div class="resumen-carrito">
                <div class="contenido-resumen">
                    <h1>Resumen de tu pedido</h1>
                    <p>Total de ítems: {{ request.session.items }}</p>
                </div>
                <div class="contenido-resumen2">
                    <form id="promo-form">
                        {% csrf_token %}
                        <div class="input-group clase-input-boton">
                            <input type="text" class="input-promo form-control" name="codigo_promocional" placeholder="Código promocional" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" type="submit" id="button-addon2">Aplicar</button>
                        </div>
                        <p id="promo-mensaje" class="text-danger" style="display: none;"></p>
                    </form>
                    
                </div>
                <div class="contenido-resumen3">
                    <div class="precio-total">
                        <h2>Total:</h2>
                        <h1 id="total-carrito">${{ total_carrito }}</h1>
                    </div>
                    <div class="boton-pago">
                        {% if user.is_authenticated %}
                        <a href="{% url 'comprar' %}" id="btn-pagar">Pagar</a>

                    
                        {% else %}
                        <a href="{% url 'login' %}" id="btn-pagar">Iniciar Sesión para Pagar</a>
                        {% endif %}
                    </div>
                </div>
                </div>
                {% endif %}
                </div>
                </section>
                
                <div class="modal fade" id="modalPagoExitoso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Pago Exitoso</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-cerrar-modal"></button>
                            </div>
                            <div class="modal-body">
                                ¡Tu pago se ha realizado con éxito!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cerrar-modal-footer">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
               
                <script>
                document.getElementById('btn-cerrar-modal').addEventListener('click', function() {
                    location.reload();
                });
                document.getElementById('btn-cerrar-modal-footer').addEventListener('click', function() {
                    location.reload();
                });
                </script>
                
    <footer id="footer">
        <div class="footer">
            <div class="row">
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></a>
                <a href="#"><i class="bi bi-messenger"></i></a>
            </div>

            <div class="row">
                <ul>
                    <li><a href="/#footer">Contacto</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Nuestra Tienda</a></li>
                </ul>
            </div>

            <div class="row">
                SweetKirby Copyright © 2024 Misery - All rights reserved
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7O6l5D5dJ6J6lM/savry5p5h5L5Rh8H5F1L"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script>
        document.getElementById('promo-form').addEventListener('submit', function (event) {
            event.preventDefault();
            var formData = new FormData(this);

            fetch("{% url 'aplicar_descuento' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('promo-mensaje').innerText = data.mensaje;
                        document.getElementById('promo-mensaje').classList.remove('text-danger');
                        document.getElementById('promo-mensaje').classList.add('text-success');

                        document.getElementById('total-carrito').innerText = '$' + data.total_carrito;
                    } else {
                        if (data.mensaje === 'Código no válido') {
                            document.getElementById('promo-mensaje').innerText = 'Código promocional inválido';
                        } else {
                            document.getElementById('promo-mensaje').innerText = data.mensaje;
                        }
                        document.getElementById('promo-mensaje').classList.add('text-danger');
                        document.getElementById('promo-mensaje').classList.remove('text-success');
                    }
                    document.getElementById('promo-mensaje').style.display = 'block';
                })
                .catch(error => {
                    console.error('Error al aplicar el descuento:', error);
                });
        });

    </script>
    <script>
        document.getElementById('btn-pagar').addEventListener('click', function() {
            fetch("{% url 'realizar_pago' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({})
            }).then(response => response.json())
              .then(data => {
                  if (data.success) {
                      //Limpiar  el carrito
                      document.getElementById('total-carrito').innerText = '$0';
                  } else {
                      console.error('Error al procesar el pago');
                      alert('Hubo un error al procesar el pago.');
                  }
              }).catch(error => {
                  console.error('Error:', error);
                  alert('Hubo un error al procesar el pago.');
              });
        });
    </script>
</body>

</html>