{% load static %}


<header>
    <div id="navbar">
        <nav id="navbar-brand">
            <div id="logotitle">
                <div id="sublogotitle">
                    <h1 id="title"><a href="/">SweetKirby</a></h1>
                    <img src="{% static 'core/kirby1mini.png' %}" alt="Logo de SweetKirby" id="logo">
                </div>
            </div>
            <a href="/#about" class="navbar-item">Nuestra Tienda</a>
            <a href="/menu" target="_self" class="navbar-item">Productos</a>
            <a href="/pedidos" target="_self" class="navbar-item">Pedidos Personalizados</a>
            <a href="/galeria" target="_self" class="navbar-item">Galería</a>
            <a href="/#footer" class="navbar-item">Contactos</a>
            {% if user.is_authenticated %}
            <div class="usuario">{{ user.username }}</div>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button id="logout-btn" type="submit">Salir</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}" class="navbar-item">Iniciar Sesión</a>
            {% endif %}
            <div id="buy-card-wrapper">
                <a href="/carrito" class="navbar-item cart-container" id="toggleButton">
                    <img src="https://cdn-icons-png.flaticon.com/512/3144/3144456.png" alt="Carrito de compras" width="30px">
                    {% if request.session.items and request.session.items > 0 %}
                    <span class="cart-count">{{ request.session.items }}</span>
                    {% endif %}
                </a>
            </div>
        </nav>
    </div>
</header>

<style>
.cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(176, 66, 209);
    color: white;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 14px;
}

</style>


