{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/estilo.css' %}">
</head>

<body>
    {% include 'header.html' %}

    <div class="section-background">
        <h1 id="mainH1">Productos</h1>
        <div style="display: flex; justify-content: flex-end; margin-right: 3vw;">
            <h2 style="margin-right: 1vw;">Filtro: </h2>
            <select name="Filtro" id="cbfiltro" style="height: 3.5vh; margin:auto 0;">
                <option value="0" disabled selected>Seleccione</option>
                <optgroup label="Precio">
                    <option value="1">Menor a mayor</option>
                    <option value="2">Mayor a menor</option>
                </optgroup>
                <optgroup label="Base">
                    <option value="1">Bizcocho</option>
                    <option value="2">Panqueque</option>
                    <option value="3">Mil Hojas</option>
                    <option value="4">Hojarasca</option>
                </optgroup>
            </select>
        </div>
        <section id="menu">
            <section id="section2">

                {% for torta in tortas %}
                <div class="card card-menu">
                    <div class="card-body">
                        <div class="horizontal-center">
                            <img src="{{torta.imagen}}"
                                class="imagen-menu img-menu" alt="torta">
                        </div>
                        <div class="descripcion-container">
                            <div class="descripcion horizontal-center">
                                {{torta.nombre}}
                            </div>
                            <div class="precio">
                                <div class="porciones">
                                    <label for="porciones">Porciones:</label>
                                    <select name="porciones" id="porciones">
                                        <option value="">15</option>
                                        <option value="">20</option>
                                        <option value="">30</option>
                                        <option value="">35</option>
                                    </select>
                                </div>
                                <p>{{torta.precio}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <a href="{% url 'addToCart' torta.codigo %}" Class="addCart">Agregar al carro</a>
                    </div>
                </div>
                {% endfor %}



                <div id="paginacion">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#">&laquo;</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>

            </section>
        </section>
    </div>


    <footer id="footer">
        <div class="footer">
            <div class="row">
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></a>
                <a href="#"><i class="bi bi-messenger"></i></a>
            </div>

            <div class="row">
                <ul>
                    <li><a href="#footer">Contacto</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Nuestra Tienda</a></li>
                </ul>
            </div>

            <div class="row">
                SweetKirby Copyright © 2024 Misery - All rights reserved
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>